@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;

  --high-rosewater: #f4dbd650;
  --high-flamingo: #f0c6c650;
  --high-pink: #f5bde650;
  --high-mauve: #c6a0f650;
  --high-red: #ed879650;
  --high-maroon: #ee99a050;
  --high-peach: #f5a97f50;
  --high-yellow: #eed49f50;
  --high-green: #a6da9550;
  --high-teal: #8bd5ca50;
  --high-sky: #91d7e350;
  --high-sapphire: #7dc4e450;
  --high-blue: #8aadf450;
  --high-lavender: #b7bdf850;

  --text: #cad3f5;
  --background-light: #6e738d;
  --background-mid: #363a4f;
  --background-dark: #24273a;

  --font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mono-family: "JetBrains Mono", "Lucida Console", "Consolas", "Menlo", monospace;
}

body {
  background-color: var(--background-dark);
  font-family: var(--font-family);
  color: var(--text);
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--high-red);
}

::-webkit-scrollbar {
  background-color: var(--background-mid);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.navanim:hover {
  animation-name: navanim;
  animation-duration: 1.50s;
}

@keyframes navanim {
  0% { color: var(--mauve); }
  50% { color: var(--flamingo); }
  100% { color: var(--pink); }
}

pre code span {
  font-family: "JetBrains Mono", monospace;
}

.dark {
  --tw-text-opacity: 1;
  --shiki-color-text: rgba(var(--text), var(--tw-text-opacity));
  --shiki-token-constant: rgba(var(--peach), var(--tw-text-opacity));
  --shiki-token-string: rgba(var(--green), var(--tw-text-opacity));
  --shiki-token-comment: rgba(var(--overlay1), var(--tw-text-opacity));
  --shiki-token-keyword: rgba(var(--mauve), var(--tw-text-opacity));
  --shiki-token-parameter: rgba(var(--maroon), var(--tw-text-opacity));
  --shiki-token-function: rgba(var(--blue), var(--tw-text-opacity));
  --shiki-token-string-expression: rgba(var(--green),
      var(--tw-text-opacity));
  --shiki-token-punctuation: rgba(var(--overlay2), var(--tw-text-opacity));
  --shiki-token-link: rgba(var(--peach), var(--tw-text-opacity));
}

html,
body,
li {
  @apply text-text bg-base;
}

@media screen and (min-device-pixel-ratio: 1.5),
screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  --tw-text-opacity: 1;
  color: rgba(var(--mauve), var(--tw-text-opacity)) !important;
}

p>a,
div .nx-flex .nx-gap-3 a,
footer a,
html[class~="dark"] .dark\:nx-prose-dark :where(a):not(:where([class~="nx-not-prose"] *)) {
  --tw-text-opacity: 1;
  color: rgba(var(--blue), var(--tw-text-opacity)) !important;
  @apply underline;
}

.subheading-anchor:after,
html[class~="dark"] .subheading-anchor:after,
html[class~="dark"] span:target+.subheading-anchor:after {
  --tw-content: "#";
  @apply pr-2 text-overlay0;
}

code {
  --tw-text-opacity: 1;
  color: rgba(var(--pink), var(--tw-text-opacity)) !important;
  background-color: rgba(var(--mantle), var(--tw-text-opacity)) !important;
}

.nx-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--subtext1), var(--tw-text-opacity)) !important;
}

.nx-text-gray-300,
.nx-not-prose {
  --tw-text-opacity: 1;
  color: rgba(var(--subtext0), var(--tw-text-opacity)) !important;
}

html article p,
footer small,
strong {
  --tw-text-opacity: 1;
  color: rgba(var(--text), var(--tw-text-opacity)) !important;
}

.post-item h3 a {
  --tw-text-opacity: 1;
  color: rgba(var(--sapphire), var(--tw-text-opacity)) !important;
}

.nx-bg-gray-200 {
  --tw-text-opacity: 1;
  background-color: rgba(var(--surface0),
      var(--tw-text-opacity)) !important;
}

.nx-bg-gray-200:hover {
  --tw-text-opacity: 1;
  background-color: rgba(var(--overlay0),
      var(--tw-text-opacity)) !important;
}

code[data-language*="sh"] .line span:first-child::before {
  content: "$";
  @apply pr-2 text-subtext0;
}

code .line.highlighted {
  @apply bg-opacity-10 bg-blue;
}

html[class~="dark"] .dark\:nx-bg-primary-300\/10 {
  @apply bg-mantle;
}

code[data-line-numbers]>.line:before {
  --tw-text-opacity: 1;
  color: rgba(var(--overlay0), var(--tw-text-opacity)) !important;
}